.toc-fade-enter {
  opacity: 0;
}
.toc-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.toc-fade-exit {
  opacity: 1;
}
.toc-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
