#table-of-contents {
  position: absolute;
  top: 0;;
  width: 100%;
  height: 100vh;
}

#table-of-contents {
  font-size: 1.5em;
  padding-bottom: 3px;
  padding-top: 3px;
  color: black;
  font-weight: 300;
}

#table-of-contents .active {
   font-weight: 700;
   font-variant: small-caps;
}

#table-of-contents h1 {
  font-size: 1.4em;
  padding-bottom: 0.2em;
}

#table-of-contents a {
  color: black;
}

#table-of-contents ul {
  padding-left: 20px;
  font-size: 0.9em;
}

#table-of-contents li {
  padding-top: 6px;
  padding-bottom: 6px;
}

#blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: block;
}

#popup-view {
  position: relative;
  height: 80vh;
  width: 650px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-bottom: 0px;
  pointer-events: none;
  z-index: 1011;
  border-radius: 5px;
  pointer-events: auto;
  display: flex;
  flex-direction: column;;
}

#popup-view__close {
  position: fixed;
  padding: 0.5em;
  font-size: 2rem;
  right: 0px;
  top: 0px;
  cursor: pointer;
  color: lightgray;
}

#contents-scroller {
  width: 100%;
  height: 100%;;
  overflow: scroll;
  padding-left: 15px;
  padding-bottom: 35px;
  flex: 1;
}

@media (max-width: 649px) {
  #blackout {
    display: none;
  }

  #popup-view {
    width: 100%;
    height: 100%;
    min-width: 250px;
  }
}
