#reading-controls button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

#tts-controls,
#page-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  outline: none;
}

#page-controls #prev,
#page-controls #next {
  background: none;
  border: 0;
  cursor: pointer;
  flex: 1;
  max-width: 200px;
}
