* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: yellow;
  position: relative;
}

reading-area {
  display: inline-block;
  background-color: white;
  height: 100vh;
  width: 100%;
}

